<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anton Morozov | Python Web Developer</title>
    <link rel="stylesheet" href="../../static/styles/main.css" />
  </head>

  <body>
    <header>
      <div id="go-back">
        <i class="fa-solid fa-arrow-left"></i>
      </div>

      <div id="language-switch">
        <span>ru</span>
        /
        <span>en</span>
      </div>

      <div id="logo" class="light-green-underline">
        <span>anomorch</span>
      </div>

      <div id="page-name" class="light-green-color">projects</div>
    </header>

    <main>
      <div>
        <div>
          <span class="bold-font">project name:</span>
          <span>the graphs of rating of cities</span>
        </div>

        <div>
          <span class="bold-font">customer name:</span>
          <span>llc a+s transproekt</span> 
        </div>
        
        <div>
          <span class="bold-font">timespan:</span>
          <span>2022</span>
        </div>

        <div>
          <span class="bold-font">web-page:</span>
          <span>
            <a href="https://rating.simetragroup.ru/cities/Moscow/">
              https://rating.simetragroup.ru/cities/Moscow/
            </a>
          </span> 
        </div>

        <div>
          <span class="bold-font">responsibilities:</span>
          <span>
            python on django, 
            frontend on html / css / js and chartjs
          </span>
        </div>

        <div>
          <span class="bold-font">description:</span>
          <span>
            the project was rethinking of the idea of the app created 
            during my summer university practice in 2022. its main target
            was creating of lucid graphs to depict a rating of public transport
            in russia without extensive data
          </span>
        </div>
      </div>

      <div id="projects-container">
        <div class="content-img">
          <img src="../../static/imgs/graphs-of-rating-of-cities/cover.png" alt="rating-of-cities">
        </div>

        <div class="content-img">
          <img src="../../static/imgs/graphs-of-rating-of-cities/1.png" alt="rating-of-cities-1">
        </div>

        <div class="content-img">
          <img src="../../static/imgs/graphs-of-rating-of-cities/2.png" alt="rating-of-cities-2">
        </div>

        <div class="content-img">
          <img src="../../static/imgs/graphs-of-rating-of-cities/3.png" alt="rating-of-cities-3">
        </div>

        <div class="content-img">
          <img src="../../static/imgs/graphs-of-rating-of-cities/4.png" alt="rating-of-cities-4">
        </div>
      </div>
    </main>

    <script src="https://kit.fontawesome.com/d41b91cba2.js" crossorigin="anonymous"></script>
  </body>
</html>
