<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="title"></title>
    <link rel="stylesheet" href="/static/styles/main.css" />
  </head>

  <body>
    <header>
      <div id="go-back">
        <a href="/templates/projects.html" class="black-color">
          <i class="fa-solid fa-arrow-left"></i>
        </a>
      </div>

      <div id="language-switch">
        <span id="russian"></span>
        /
        <span id="english"></span>
      </div>

      <div id="logo" class="light-green-underline">
        <span>anomorch</span>
      </div>

      <div id="page-name" class="light-green-color"></div>
    </header>

    <main>
      <div>
        <div>
          <span id="project-header" class="bold-font"></span>
          <span id="project-description"></span>
        </div>

        <div>
          <span id="customer-header" class="bold-font"></span>
          <span id="customer-description"></span> 
        </div>
        
        <div>
          <span id="timespan-header" class="bold-font"></span>
          <span>2022</span>
        </div>

        <div>
          <span id="web-page-link-header" class="bold-font"></span>
          <span>
            <a href="https://rating.simetragroup.ru/cities/Moscow/" target="_blank">
              https://rating.simetragroup.ru/cities/Moscow/
            </a>
          </span> 
        </div>

        <div>
          <span id="responsibilities-header" class="bold-font"></span>
          <span id="responsibilities-description"></span>
        </div>

        <div>
          <span id="description-header" class="bold-font"></span>
          <span id="description-description"></span>
        </div>
      </div>

      <div id="projects-container">
        <div class="content-img">
          <a href="/static/imgs/graphs-of-rating-of-cities/cover.png" target="_blank">
            <img src="/static/imgs/graphs-of-rating-of-cities/cover.png" alt="rating-of-cities">
          </a>
        </div>

        <div class="content-img">
          <a href="/static/imgs/graphs-of-rating-of-cities/1.png" target="_blank">
            <img src="/static/imgs/graphs-of-rating-of-cities/1.png" alt="rating-of-cities-1">
          </a>
        </div>

        <div class="content-img">
          <a href="/static/imgs/graphs-of-rating-of-cities/2.png" target="_blank">
            <img src="/static/imgs/graphs-of-rating-of-cities/2.png" alt="rating-of-cities-2">
          </a>
        </div>

        <div class="content-img">
          <a href="/static/imgs/graphs-of-rating-of-cities/3.png" target="_blank">
            <img src="/static/imgs/graphs-of-rating-of-cities/3.png" alt="rating-of-cities-3">
          </a>
        </div>

        <div class="content-img">
          <a href="/static/imgs/graphs-of-rating-of-cities/4.png" target="_blank">
            <img src="/static/imgs/graphs-of-rating-of-cities/4.png" alt="rating-of-cities-4">
          </a>
        </div>
      </div>
    </main>

    <script src="https://kit.fontawesome.com/d41b91cba2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/static/scripts/language-switches/helpers/support.js"></script>
    <script src="/static/scripts/language-switches/enums/available-languages.js"></script>
    <script src="/static/scripts/language-switches/helpers/set-current-language.js"></script>
    <script src="/static/scripts/language-switches/templates-translation/projects/graphs-of-rating-of-cities.js"></script>
  </body>
</html>
