<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anton Morozov | Python Web Developer</title>
    <link rel="stylesheet" href="../../static/styles/main.css" />
  </head>

  <body>
    <header>
      <div id="go-back">
        <i class="fa-solid fa-arrow-left"></i>
      </div>

      <div id="language-switch">
        <span>ru</span>
        /
        <span>en</span>
      </div>

      <div id="logo" class="light-green-underline">
        <span>anomorch</span>
      </div>

      <div id="page-name" class="light-green-color">projects</div>
    </header>

    <main>
      <div>
        <div>
          <span class="bold-font">project name:</span>
          <span>rating of cities</span>
        </div>

        <div>
          <span class="bold-font">customer name:</span>
          <span>llc a+s transproekt</span> 
        </div>
        
        <div>
          <span class="bold-font">timespan:</span>
          <span>2022</span>
        </div>

        <div>
          <span class="bold-font">web-page:</span>
          <span>dead</span> 
        </div>

        <div>
          <span class="bold-font">feedback:</span>
          <a href="https://drive.google.com/file/d/180E2yGyYdordJjBZlmKKPZZ2H6Ktj0Zb/view?usp=sharing">
            manager's review
          </a>
        </div>

        <div>
          <span class="bold-font">responsibilities:</span>
          <span>
            python on django, 
            frontend on html / css / js,
            team management
          </span>
        </div>

        <div>
          <span class="bold-font">description:</span>
          <span>
            the projects was done as a part of the summer practice at the
            university. its target was to create a webpage to store info
            about scientific research about quality of public transport of 
            more than 80 russian cities in an attracting way. it had a lot of
            schemas, graphics and auto uploading using excel
          </span>
        </div>
      </div>

      <div id="projects-container">
        <div class="content-img">
          <img src="../../static/imgs/rating-of-cities/cover.png" alt="rating-of-cities">
        </div>

        <div class="content-img">
          <img src="../../static/imgs/rating-of-cities/1.png" alt="rating-of-cities-1">
        </div>

        <div class="content-img">
          <img src="../../static/imgs/rating-of-cities/2.png" alt="rating-of-cities-2">
        </div>

        <div class="content-img">
          <img src="../../static/imgs/rating-of-cities/3.png" alt="rating-of-cities-3">
        </div>

        <div class="content-img">
          <img src="../../static/imgs/rating-of-cities/4.png" alt="rating-of-cities-4">
        </div>

        <div class="content-img">
          <img src="../../static/imgs/rating-of-cities/5.png" alt="rating-of-cities-5">
        </div>

        <div class="content-img">
          <img src="../../static/imgs/rating-of-cities/6.png" alt="rating-of-cities-6">
        </div>

        <!-- <div class="content-img">
          <img src="" alt="">
          <div></div>
        </div> -->
      </div>
    </main>

    <script src="https://kit.fontawesome.com/d41b91cba2.js" crossorigin="anonymous"></script>
  </body>
</html>
