<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="title"></title>
    <link rel="stylesheet" href="/static/styles/main.css" />
    <link rel="shortcut icon" type="image/jpg" href="/static/imgs/favicons/android-chrome-192x192.png"/>
    <link rel="shortcut icon" type="image/jpg" href="/static/imgs/favicons/android-chrome-512x512.png"/>
    <link rel="shortcut icon" type="image/jpg" href="/static/imgs/favicons/apple-touch-icon.png"/>
    <link rel="shortcut icon" type="image/jpg" href="/static/imgs/favicons/favicon-16x16.png"/>
    <link rel="shortcut icon" type="image/jpg" href="/static/imgs/favicons/favicon-32x32.png"/>
    <link rel="shortcut icon" type="image/jpg" href="/static/imgs/favicons/favicon.ico"/>
  </head>

  <body>
    <header>
      <div id="grid">
        <div id="burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
  
        <div id="language-switch">
          <span id="russian"></span>
          /
          <span id="english"></span>
        </div>
  
        <div id="logo" class="light-green-underline">
          <span>anomorch</span>
        </div>
  
        <div id="page-name" class="light-green-color"></div>
      </div>

      <div id="burger-items">
        <i id="close-burger-menu-btn" class="fa-solid fa-xmark"></i>

        <div>
          <a href="/templates/index.html" class="black-color" id="home-link"></a>
        </div>

        <div>
          <a href="/templates/about-me.html" class="black-color" id="about-me-link"></a>
        </div>

        <div>
          <a href="/templates/projects.html" class="black-color" id="projects-link"></a>
        </div>
      </div>
    </header>

    <main>
      <p id="first-line"></p>

      <p id="second-line">
        <span id="second-line-content"></span>
        <a href='https://drive.google.com/file/d/156WGxUmH7BdZ6LIa1879EKam-FT-tf7U/view?usp=sharing' class='black-color' target='_blank'>
          <span class='bold-font light-green-underline'>
            <span id="cv"></span>
          </span>
        </a>
      </p>

      <div>
        <p id="characteristics-title" class="bold-font"></p>
        <ul>
          <li>
            <i class="fa-solid fa-hammer light-green-color"></i>
            <span id="pl">python / unittest / html / css / js</span>
          </li>

          <li>
            <i class="fa-solid fa-ruler-combined light-green-color"></i>
            <span id="techs">postgresql / docker / celery / nginx / apache</span>
          </li>

          <li>
            <i class="fa-solid fa-laptop light-green-color"></i>
            <span id="tools">archlinux / neovim / vscode</span> 
          </li>

          <li>
            <i class="fa-solid fa-table-tennis-paddle-ball light-green-color"></i>
            <span id="hobbies"></span> 
          </li>
        </ul>
      </div>

      <div>
        <p id="contact-me-title" class="bold-font"></p>

        <span id="contact-me-description"></span> 

        <ul>
          <li>
            <i class="fa-brands fa-telegram light-green-color"></i>
            telegram — 
            <a href="https://t.me/anomorch"> https://t.me/anomorch </a>
          </li>

          <li>
            <i class="fa-solid fa-envelope light-green-color"></i>
            gmail — 
            <a href="mailto:morozovantonaleksandrovich@gmail.com"> morozovantonaleksandrovich@gmail.com </a>
          </li>

          <li>
            <i class="fa-brands fa-github light-green-color"></i>
            github — 
            <a href="https://github.com/anomorch"> https://github.com/anomorch </a>
          </li>

          <li>
            <i class="fa-brands fa-vk light-green-color"></i>
            vk — 
            <a href="https://vk.com/anomorch"> https://vk.com/anomorch </a>
          </li>
        </ul>
      </div>
    </main>
  </body>

  <script src="https://kit.fontawesome.com/d41b91cba2.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="/static/scripts/burger/index.js"></script>
  <script src="/static/scripts/language-switches/helpers/support.js"></script>
  <script src="/static/scripts/language-switches/enums/available-languages.js"></script>
  <script src="/static/scripts/language-switches/helpers/set-current-language.js"></script>
  <script src="/static/scripts/language-switches/templates-translation/about-me.js"></script>
  <script src="/static/scripts/language-switches/burger-translation/index.js"></script>
</html>
