<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anton Morozov | Python Web Developer</title>
    <link rel="stylesheet" href="../static/styles/main.css" />
  </head>

  <body>
    <header>
      <div id="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

      <div id="language-switch">
        <span id="russian">ru</span>
        /
        <span id="english">en</span>
      </div>

      <div id="logo" class="light-green-underline">
        <span>anomorch</span>
      </div>

      <div id="page-name" class="light-green-color">about me</div>
    </header>

    <main>
      <p id="first-line">
        hello! i'm

        <span class="bold-font"> a fullstack web developer </span>

        from 
        
        <span class="bold-font">st. petersburg, russia</span>
        
        who loves

        <span class="bold-font">
          python but is ready to use frontend techs like html, css, js.
        </span>
      </p>

      <p id="second-line">
        currently i study as

        <span class="bold-font"> a computer science student at spbstu </span>

        and

        <span class="bold-font">work part time as a freelancer.</span>

        so if you're interested in knowing more about my work experience, 
        please read

        <!-- TODO. Add a link for CV here. -->
        <span class="bold-font light-green-underline">
          <span>my cv.</span>
        </span>
      </p>

      <div>
        <p id="characteristics-title" class="bold-font">my characteristics</p>
        <ul>
          <li>
            <i class="fa-solid fa-hammer light-green-color"></i>
            <span id="pl">python / html / css / js</span>
          </li>

          <li>
            <i class="fa-solid fa-ruler-combined light-green-color"></i>
            <span id="techs">postgresql / docker / celery / nginx / apache</span>
          </li>

          <li>
            <i class="fa-solid fa-laptop light-green-color"></i>
            <span id="tools">archlinux / neovim / vscode</span> 
          </li>

          <li>
            <i class="fa-solid fa-table-tennis-paddle-ball light-green-color"></i>
            <span id="hobbies">computers / reading / investments / handmade</span> 
          </li>
        </ul>
      </div>

      <div>
        <p id="contact-me-title" class="bold-font">contact me</p>

        <span id="contact-me-description">
          i see my job as art and like unusual tasks so don't be shy to write 
          to me about any it idea you have
        </span> 

        <ul>
          <li>
            <i class="fa-brands fa-telegram light-green-color"></i>
            telegram — 
            <a href="https://t.me/anomorch"> https://t.me/anomorch </a>
          </li>

          <li>
            <i class="fa-solid fa-envelope light-green-color"></i>
            gmail — 
            <a href="mailto:morozovantonaleksandrovich@gmail.com"> morozovantonaleksandrovich@gmail.com </a>
          </li>

          <li>
            <i class="fa-brands fa-github light-green-color"></i>
            github — 
            <a href="https://github.com/anomorch"> https://github.com/anomorch </a>
          </li>

          <li>
            <i class="fa-brands fa-vk light-green-color"></i>
            vk — 
            <a href="https://vk.com/anomorch"> https://vk.com/anomorch </a>
          </li>
        </ul>
      </div>
    </main>
  </body>

  <script src="https://kit.fontawesome.com/d41b91cba2.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="../static/scripts/language-switches/helpers/support.js"></script>
  <script src="../static/scripts/language-switches/enums/available-languages.js"></script>
  <script src="../static/scripts/language-switches/helpers/set-current-language.js"></script>
  <script src="../static/scripts/language-switches/templates-translation/about-me.js"></script>
</html>
