<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anton Morozov | Python Web Developer</title>
    <link rel="stylesheet" href="../static/styles/main.css">
  </head>

  <body>
    <header>
      <div id="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

      <div id="language-switch">
        <span>ru</span> 
        /
        <span>en</span> 
      </div>

      <div id="logo">
        <span>anomorch</span> 
      </div>

      <div id="page-name" class="light-green-color">
        home
      </div>
    </header> 

    <main>
      <div id="authors-name">anton morozov</div>
      <p>a python web developer</p>
      <p>i've been interested in software craftsmanship since 2020</p>
    </main>
  </body>
</html>
