<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anton Morozov | Python Web Developer</title>
    <link rel="stylesheet" href="../static/styles/main.css">
  </head>

  <body>
    <header>
      <div id="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

      <div id="language-switch">
        <span id="russian">ru</span> 
        /
        <span id="english">en</span> 
      </div>

      <div id="logo" class="light-green-underline">
        <span>anomorch</span> 
      </div>

      <div id="page-name" class="light-green-color">
        home
      </div>
    </header> 

    <main id="home">
      <div id="authors-name">anton morozov</div>
      <p id="occupation">a python web developer</p>
      <p id="experience">i've been worked in software craftsmanship since 2022</p>
      <p>
        <a id="about-me" href="">about me</a>
      </p>
    </main>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="../static/scripts/language-switches/helpers/support.js"></script>
  <script src="../static/scripts/language-switches/enums/available-languages.js"></script>
  <script src="../static/scripts/language-switches/helpers/set-current-language.js"></script>
  <script src="../static/scripts/language-switches/templates-translation/index.js"></script>
</html>
