<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anton Morozov | Python Web Developer</title>
    <link rel="stylesheet" href="../static/styles/main.css">
  </head>

  <body>
    <header>
      <div id="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

      <div id="language-switch">
        ru / en
      </div>

      <div id="logo">
        anomorch
      </div>

      <div id="page-name">
        home
      </div>
    </header> 
  </body>
</html>
