<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anton Morozov | Python Web Developer</title>
    <link rel="stylesheet" href="../static/styles/main.css" />
  </head>

  <body>
    <header>
      <div id="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

      <div id="language-switch">
        <span>ru</span>
        /
        <span>en</span>
      </div>

      <div id="logo" class="light-green-underline">
        <span>anomorch</span>
      </div>

      <div id="page-name" class="light-green-color">projects</div>
    </header>

    <main>
      <div>
        these are
        <span class="bold-font">projects i'm proud of</span>
        (honestly, there are more of them  but unfortunately i can't show
        them even as screenshots due nda T_T)
      </div>

      <div id="projects-container">
        <div class="content-img">
          <img src="../../static/imgs/rating-of-cities/cover.png" alt="rating-of-cities">
          <div>the rating of cities (2022)</div>
        </div>

        <div class="content-img">
          <img src="../../static/imgs/graphs-of-rating-of-cities/cover.png" alt="graphs-rating-of-cities">
          <div>graphs for the rating of cities (2022)</div>
        </div>

        <!-- A template to add a new project. -->
        <!-- <div class="content-img">
          <img src="" alt="">
          <div></div>
        </div> -->
      </div>
    </main>
  </body>
</html>
