<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="title"></title>
    <link rel="stylesheet" href="/static/styles/main.css" />
  </head>

  <body>
    <header>
      <div id="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

      <div id="language-switch">
        <span id="russian"></span>
        /
        <span id="english"></span>
      </div>

      <div id="logo" class="light-green-underline">
        <span>anomorch</span>
      </div>

      <div id="page-name" class="light-green-color"></div>
    </header>

    <main>
      <div id="first-line"></div>

      <div id="projects-container">
        <div class="content-img">
          <a href="/templates/projects/rating-of-cities.html">
            <img src="/static/imgs/rating-of-cities/cover.png" alt="rating-of-cities">
            <div id="rating-of-cities-description"></div>
          </a>
        </div>

        <div class="content-img">
          <a href="/templates/projects/graphs-of-rating-of-cities.html">
            <img src="/static/imgs/graphs-of-rating-of-cities/cover.png" alt="graphs-rating-of-cities">
            <div id="graphs-for-the-rating-of-cities"></div>
          </a>
        </div>

        <!-- A template to add a new project. -->
        <!-- <div class="content-img">
          <img src="" alt="">
          <div></div>
        </div> -->
      </div>
    </main>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="/static/scripts/language-switches/helpers/support.js"></script>
  <script src="/static/scripts/language-switches/enums/available-languages.js"></script>
  <script src="/static/scripts/language-switches/helpers/set-current-language.js"></script>
  <script src="/static/scripts/language-switches/templates-translation/projects.js"></script>
</html>
