/* PAGINATION */
/* 1. Font inclusion */
/* 2. General */
/* 3. Header */
/* 3.1. Burger */

/* 1. Font inclusion */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');

/* 2. General */
* {
  margin: 0;
  padding: 0; 
  border: 0;
  font-family: 'IBM Plex Mono', monospace;
}

body {
  width: 1024px;
  margin: 24px auto;
}

/* 3. Header */
/* 3.1. Burger */
.burger:hover {
  cursor: pointer;
}

.burger > .line {
  width: 26px;
  height: 4px;
  background-color: black;
  margin: 6px 0;
}